.DS_Store
~$*
*~
*.pyc
*.aux
*.log
*.out
*.synctex.gz
*.bbl
*.blg
*.zip
*.tar.*
summary*.xml
queuedata*.xml
tripinfo*.xml
vehroute*.xml
SUMO_PPT/
Papers/
codes/results/
codes/testing/
codes/mainCode/old/
codes/mainCode/data/
codes/mainCode/simple/
codes/mainCode/figures/
codes/mainCode/models*_?/
*.vtk
*.pdf
