.DS_Store
~$*
*~
*.pyc
*.aux
*.log
*.out
*.synctex.gz
*.bbl
*.blg
*.zip
*.tar.*
summary*.xml
queuedata*.xml
tripinfo*.xml
vehroute*.xml
SUMO_PPT/
literatureReviewPPT/
Papers/
code/results/
code/testing/
code/mainCode/old/
code/mainCode/simple/
code/mainCode/figures/
code/mainCode/models*_?/
*/simpleTfreeflow/figures/
*/simpleTfreeflow/results/
ieeeDraft/*.pdf
*.vtk
*.pdf
